{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burger()">
            <img src="{% static 'images/menu.svg' %}" alt="Menu"> 
            </button>
        </div> 
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="{% url 'home_page' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/home.svg' %}" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'subjects_page' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/book.svg' %}" alt="Vacancies">
                        <span>Предметы</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'offers_page' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/Vacancies.svg' %}" alt="Book">
                        <span>Вакансии</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'favourites_page' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/comment.svg' %}" alt="Comment">
                        <span>Избранные </span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'sign_up_page' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/reg.svg' %}" alt="Reg">
                        <span>Регистрация</span>
                    </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="menu-list__item">
                    <a href="{% url 'login_page' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/vxod.svg' %}" alt="Vxod">
                        <span>Вход</span>
                    </a>
                </li>
                {% else %}
                <li class="menu-list__item">
                    <a href="{% url 'logout_action' %}" class="menu-list__link">
                        <img src="{% static 'images/menu-list/chelovek.svg' %}" alt="Chelovek">
                        <span>{{use.username}}: Выход</span>
                    </a>    
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static './js/script.js' %}"></script>
</body>
</html>
