<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burger()">
            <img src="./images/menu.svg" alt="Menu">
            </button>
        </div>
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container"> 
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="index.html" class="menu-list__link">
                        <img src="./images/menu-list/home.svg" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="all1.html" class="menu-list__link">
                        <img src="./images/menu-list/book.svg" alt="Vacancies">
                        <span>Предметы</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="all.html" class="menu-list__link">
                        <img src="./images/menu-list/Vacancies.svg" alt="Book">
                        <span>Вакансии</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="privat.html" class="menu-list__link">
                        <img src="./images/menu-list/comment.svg" alt="Comment">
                        <span>Избранные </span>
                    </a>
                <li class="menu-list__item">
                    <a href="vixod.html" class="menu-list__link">
                        <img src="./images/menu-list/reg.svg" alt="Reg">
                        <span>Регистрация</span>
                    </a>
                </li>
                </li>
                <li class="menu-list__item">
                    <a href="vxod.html" class="menu-list__link">
                        <img src="./images/menu-list/vxod.svg" alt="Vxod">
                        <span>Вход</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="vxod.html" class="menu-list__link">
                        <img src="./images/menu-list/chelovek.svg" alt="Chelovek">
                        <span>Diartv.vip-pro-ultra : Выход</span>
                    </a>    
                </li>
            </ul>
        </div>
    </div>
    <main>
        <section class="job-detail_all">
                <h1 class="title_all">Все предложения</h1>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Английский</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">География</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="job-bob.html" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Физика</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Химия</h3>
                    <style>
                    </style>                    
                </a>
            </div>  
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Математике</h3>
                    <style>     
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">История</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Биология</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Информатика</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">История Казахстана</h3>
                    <style>
                    </style>                    
                </a>
            </div>
            <div class="all-subjects__card">
                <a href="#" class="vacancy-details-link1">
                    <h3 class="vacancy-card__title1">Изобразительное Исскуство </h3>
                    <style>
                    </style>                    
                </a>
            </div>
    </main>
    <script src="./js/script.js"></script>
</body>
</html>