<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burger()">
            <img src="./images/menu.svg" alt="Menu">
            </button>
        </div>
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="index.html" class="menu-list__link">
                        <img src="./images/menu-list/home.svg" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="all1.html" class="menu-list__link">
                        <img src="./images/menu-list/book.svg" alt="Vacancies">
                        <span>Предметы</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="all.html" class="menu-list__link">
                        <img src="./images/menu-list/Vacancies.svg " alt="Book">
                        <span>Предложения</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="privat.html" class="menu-list__link">
                        <img src="./images/menu-list/comment.svg" alt="Comment">
                        <span>Избранные </span>
                    </a>
                <li class="menu-list__item">
                    <a href="vixod.html" class="menu-list__link">
                        <img src="./images/menu-list/reg.svg" alt="Reg">
                        <span>Регистрация</span>
                    </a>
                </li>
                </li>
                <li class="menu-list__item">
                    <a href="vxod.html" class="menu-list__link">
                        <img src="./images/menu-list/vxod.svg" alt="Vxod">
                        <span>Вход</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="vxod.html" class="menu-list__link">
                        <img src="./images/menu-list/chelovek.svg" alt="Chelovek">
                        <span>Diartv.vip-pro-ultra : Выход</span>
                    </a>    
                </li>
            </ul>
        </div>
    </div>
    <main>
        <section class="job-bob">
            <div class="container">
            <br><h1 class="title">Репетитор по Физике</h1> </br>               
                <h3 class="bob">Галина Сергеевна</h3>
                <h3 class="vacancy-bob__data">Стоимость: 5000&#8376;/час</h3>
                <p class="vacancy-bob__content">Здравствуйте! Меня зовут Галина и я репетитор по физике с опытом преподавания более 20 лет. За время своей работы я помогла многим ученикам не только разобраться в сложных темах, но и подготовиться к экзаменам любого уровня, включая ОГЭ и ЕГЭ. Моя цель — сделать процесс обучения интересным и доступным, адаптируя программу под каждого ученика. Независимо от начального уровня знаний, я помогу вам или вашему ребенку достичь значительных успехов в изучении физики. Буду рада помочь вам освоить этот увлекательный предмет!</p>
                <div class="vacancy-card2">
                    <p class="job-bob__title">Номер:+7 (777) 777 77 77</p>
                    <p class="job-bob__title">Адрес: На Дом</p>
                    <p class="job-bob__title">От агенства: Diartv.international</p>
                </div>
                <a class="vacancy-bob__content">Дата публикации:24.01.2008</a>
            </div>
        </section>
    </main>
    <script src="./js/script.js"></script>
</body>
</html>