<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burger()">
                <img src="./images/menu.svg" alt="Menu">
            </button>
        </div>
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="index.html" class="menu-list__link">
                        <img src="./images/menu-list/home.svg" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="all1.html" class="menu-list__link">
                        <img src="./images/menu-list/Vacancies.svg" alt="Vacancies">
                        <span>Вакансии</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="all.html" class="menu-list__link">
                        <img src="./images/menu-list/book.svg" alt="Book">
                        <span>Предметы</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="privat.html" class="menu-list__link">
                        <img src="./images/menu-list/comment.svg" alt="Comment">
                        <span>Избранные </span>
                    </a>
                <li class="menu-list__item">
                    <a href="vixod.html" class="menu-list__link">
                        <img src="./images/menu-list/reg.svg" alt="Reg">
                        <span>Регистрация</span>
                    </a>
                </li>
                </li>
                <li class="menu-list__item">
                    <a href="vxod.html" class="menu-list__link">
                        <img src="./images/menu-list/vxod.svg" alt="Vxod">
                        <span>Вход</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="vxod.html" class="menu-list__link">
                        <img src="./images/menu-list/chelovek.svg" alt="Chelovek">
                        <span>Diartv.vip-pro-ultra : Выход</span>
                    </a>    
                </li>
            </ul>
        </div>
    </div>
    <main>
        <section class="auth">
            <h1 class="title_all__vxod">Регистрация</h1>
            <form method="post">
                <div class="vacancy-card1">
                <div class="otstyp">
                    <h3 class="zakirckasal">Имя пользователя</h3>
                </div>
                <div class="otstyp-1">
                    <input type="text" id="login">
                </div>
                <div class="otstyp-3">             
                <label for="password">Электронная почта</label>
                </div>
                <div class="otstyp-2">
                    <input type="password" id="password">
                </div> 
                <div class="otstyp-3">        
                <label for="password">Пароль</label>
                </div>
                <div class="otstyp-2">
                    <input type="password" id="password">
                </div>
                <div class="otstyp-3">     
                    <label for="password">Повторите пароль</label>
                    </div>
                    <div class="otstyp-2">
                        <input type="password" id="password">
                    </div>
                <button class="title_all__vxod1">Зарегистрироватся</button>         
                </div>
                </div>
        </section>
    </main>
    <script src="./js/script.js"></script>
</body>
</html>